@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

$basic-margin : 0 15%;
$basic-width : 70%;
$basic-border:1px solid #ccc;
$slider-btn-bg:rgb(48, 2, 218);




body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

.navbar{
    width: 100%;
    display: block;
    background: #fff;

    .real-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: $basic-width;
        margin: $basic-margin;
        height: 100%;

        .logo{
            padding: 10px;


            img{
                width: 50px;
                height: 50px;
            }
        }

        .search{
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            padding: 0 50px;
            height: 100%;
            border-left: $basic-border;


            input{
                border-radius: 20px;
                outline: none;
                border: 1px solid #ccc;
                padding: 10px 15px;
                font-size: 12px;
                z-index: 0; 
            }

            i{
                position: absolute;
                z-index: 100;
                font-size: 20px;
                right: 4rem;
            }
        }

        .nav{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            border-right: $basic-border;
            border-left: $basic-border;


            padding: 10px 0;

            .nav-item{
                padding: 0px 15px;
                transition: 0.3s all;
                font-size: 1rem;

                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                }

                &.color-red{
                    color: red;
                    padding: 0px 15px;
                }
            }
        }

        .notifications{
            display: flex;
            justify-content: space-between;
            height: 100%;
            border-right: $basic-border;
            

            i{
                margin: 0 5px;
                font-size: 20px;
                padding: 15px;
                border: none;
                border-radius: 50%;
                transition: 0.4s all;

                

                &:hover{
                    background: #ccc;
                    cursor: pointer;
                }
            }
        }

        .profile-icon{
            display: flex;
            justify-content: center;
            margin: 0 20px;
            
            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }

    }




    .filter{
        width: $basic-width;
        margin: $basic-margin;
        
        .sub-filter{
            display: flex;
            justify-content: flex-start;
            width: 100%;
            border-top: $basic-border;
            border-bottom: $basic-border;

            .filter-item{
                height: 100%;
                padding: 10px 25px;
                transition: 0.3s all;
                border-bottom: 3px solid transparent;


                &:hover{
                    cursor: pointer;
                    border-bottom: 3px solid rgb(0, 183, 255);
                }
            }
        }
    }
}




.page{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.144);
    
    .container{
        display: flex;
        justify-content: space-between;
        width: $basic-width;
        margin: $basic-margin;
        
        .left-page{
            width: 30%;
            text-align: center;
            background: #fff;
            height: 35rem;
            
            padding: 10px 20px;
            margin: 20px 15px;
            line-height: 13px;
            border-radius: 5px;
    
            .profile-info{
                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                }

                .profile-company{
                    font-size: 16px;
                    font-weight: 300;
                }

                .info{
                    color: rgba(0, 0, 0, 0.356);
                    letter-spacing: -0.5px;
                }
            }

            .profile-btns{
                display: block;
                width: 100%;

                .btn{
                    width: 100%;
                    margin: 10px 0;
                    padding: 10px 0;
                    border-radius: 20px;
                    border: 1px solid skyblue;
                    color: skyblue;
                    background: #fff;
                    font-size: 18px;
                    transition: 0.3s all;

                    &.bg{
                        color: white;
                        background: skyblue;
                    }

                    &:hover{
                        cursor: pointer;
                        background: rgba(135, 207, 235, 0.3);

                        &.bg{
                            background: skyblue;
                        }
                    }

                    i{
                        font-size: 20px;
                    }

                }
            }

            .profile-static{
                display: flex;
                justify-content: space-between;
                width: 100%;
                border-top: $basic-border;
                border-bottom: $basic-border;

                .profile-foll{
                    width: 50%;
                    padding: 0 10px;

                    &:first-child{

                        border-right: $basic-border;
                    }

                    p{
                        font-size: 14px;
                        color: rgba(0, 0, 0, 0.356);
                        font-weight: 500;
                    }
                }
            }

            .profile-links{
                display: block;
                width: 100%;
                margin: 10px 0;
                border-bottom: $basic-border;

                .link{
                    text-align: start;

                    p{
                        color: rgba(0, 0, 0, 0.356);
                        font-size: 16px;
                        font-weight: 500;
                        transition: 0.3s all;

                        &:hover{
                            cursor: pointer;
                            color: rgba(0, 0, 0, 0.656);
                        }
                    }
                }
            }

            .profile-export{
                color: rgba(0, 0, 0, 0.356);
                display: flex;
                justify-content: center;
                width: 100%;
               
                align-items: center;
                font-size: 14px;
                font-weight: 700;
                transition: 0.3s all;

                i{
                    font-size: 20px;
                    margin-left: 10px;
                    font-weight: 600;
                }

                &:hover{
                    cursor: pointer;
                    color: rgba(0, 0, 0, 0.556);
                }
            }
        }

        .center-page{
            display: block;
            margin-top: 20px;
            width: 100%;
            
            .posts{
                display: block;
                border-radius: 5px;
                padding: 10px;
                background: #fff;

                .header-posts{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: $basic-border;

                    .sliders{
                        .slider-btn{
                            padding: 5px 6px;
                            border: 1px solid $slider-btn-bg;
                            background: #fff;
                            border-radius: 50%;
                            transition: 0.3s all;

                            i{
                                color: $slider-btn-bg;
                                font-size: 30px;
                            }

                            &:hover{
                                cursor: pointer;
                                background: $slider-btn-bg;

                                i{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }

                .posts-content{
                    margin-top: 10px;
                    display: flex;
                    width: 100%;
                    justify-content: space-around;

                    .post{
                        width: 30%;
                        margin: 10px;
                        line-height: 20px;

                        p{
                            font-size: 20px;
                            font-weight: 500;
                        }

                        img{
                            width: 100%;
                        }

                        small{
                            font-size: 16px;
                            color: rgb(0,0,0, 0.5);
                        }
                    }
                }
            }
        }


        .right-page{
            width: 30%;
            margin: 20px 15px;
            padding: 10px;
            border-radius: 5px;

            .peoples{
                display: block;

                .header{
                    font-size: 22px;
                    margin: 10px 0;
                }

                .profiles{
                    display: block;

                    .profile{
                        display: flex;
                        width: 100%;
                        justify-content: start;
                        align-items: center;

                        .profile-text{
                            margin-left: 10px;
                        }

                        line-height: 10px;

                        img{
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                        }

                        h2{
                            font-weight: 600;
                        }
                    }
                }
            }

            .more{
                text-align: center;
                margin-top: 50px;

                .header{
                    font-size: 20px;
                }

                .profile-slider{
                    display: flex;
                    margin-top: 20px;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    img{
                        border-radius: 50%;
                    }

                    .slider-btn{
                        width: 30px;
                        height: 30px;

                        i{
                            font-size: 25px;
                            transition: 0.3s all;

                            &:hover{
                                cursor: pointer;
                                transform: scale(1.3);
                            }
                        }
                    }
                }

                .profile-info{
                    width: 100%;
                    text-align: center;
                    line-height: 10px;
                }
            }
        }
    }
}




